@model IEnumerable<ProjetoFinal.Models.EntradaProduto>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de Entrada de Produtos</h1>

<p>
    <a asp-action="Create">Criar um Novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeEntrada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Produto.ProdutoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.QuantidadeEntrada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
