@model IEnumerable<ProjetoFinal.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar um Novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidadestoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidadestoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.FornecedorNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProduto. TipoProdutoDescricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
